/*
 * MMM-uptimerobot
 *
 * By Simon Crnko
 * MIT Licensed.
 *
 */

.uptimerobot .friendlyName {
    padding-left: 0;
    padding-right: 25px;
}


/*  Colors  */

.uptimerobot td.colored.online {
    color: #9FDF9F;
}

.uptimerobot td.colored.offline {
    color: #FF8E99;
}

.uptimerobot td.colored.paused {
    color: #BCDDFF;
}

.uptimerobot td.colored.seems-down {
    color: #FFCC80;
}

.uptimerobot td.colored.not-checked-yet {
    color: #D3D3D3;
}
